@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #e0e0e0;
  font-size: 24px;
  background-color: #232428;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: #232428;
}

h1 {
  text-align: center;
  color: #e0e0e0;
  margin-bottom: 20px;
}

input[type="text"],
input[type="file"],
textarea {
  padding: 12px;
  width: 80%;
  max-width: 400px;
  margin: 15px 0;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="file"]:focus,
textarea:focus {
  border-color: #5171ff;
  background-color: #444;
  outline: none;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #5171ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #3a54c7;
}

button:active {
  background-color: #2d47a0;
}

#qrcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #232428;
  border: 1px solid #232428;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#qrcode p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  text-align: center;
}

#qrcode img {
  display: block;
  max-width: 100%;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

footer {
  background-color: #232428;
  color: #f5f5f5;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

footer a {
  margin: 0%;
  color: #5171ff;
  text-decoration: none;
}